<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="ca.nait.jmattson4.randomnumberwidget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"><!--Required for android API 16 and higher-->
        <receiver android:name=".RandomNumberWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><!--IF the widget doesnt appear it will be because something on this page is not right-->
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
    </application>

</manifest>
